{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template unilabeltype_menu/dialog
    Template to show a bootstrap modal dialog.

    Example context (json):
    {
        "title": "Title",
        "name": "Topic 1",
        "section": "1",
        "summary": "",
        "cmlist": "<ul class=\"section img-text\"><\/ul>",
        "nr": 0,
        "first": true
    }
}}

<!-- The Modal -->
<div class="modal fade" tabindex="-1" id="menu-modal-{{cmid}}-{{nr}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {{{content}}}
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{#str}} closebuttontitle {{/str}}</button>
            </div>
        </div>
    </div>
</div>

{{#js}}
    require(['jquery'], function($) {
        $('#menu-modal-{{cmid}}-{{nr}}').on('show.bs.modal', function() {
            $('#menu-modal-{{cmid}}-{{nr}}').appendTo('body');
        });
    });
{{/js}}
